<nav>
    <h1 id="bob">Game inventory</h1>
    <div class="findBlock">
     <h2>Find a game:</h2>
     <div class="links">
        <a href="/">All Games</a>
        <a href="/genre">Genre</a>
        <a href="/dev">Developer</a>
    </div>
    </div>
</nav>