<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>
        <%=title  %>
        <h2>Find a game by:</h2>
        <a href="/genres">Genre</a>
        <a href="/devs">Developer</a>
    </h1>
    
</body>
</html>