@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    font-family: "Aldrich",sans-serif;
    
}
nav>.findBlock{
    text-align: center;
}
nav>.findBlock>h2{
    color: rgb(223, 223, 223);
    font-size: 50px;
}
nav>h1{
    text-align: center;
    font-size: 88px;
}
nav>h2{
    text-align: center;
}
a{
    font-size: 19px;
    color: rgb(202, 25, 140);
    text-decoration: none;
}
nav a{
    font-size: 27px;
    padding: 7px;
    color: gold;
}
a:hover{
    font-weight: bold;
}
.titleBar{
   padding: 30px;
}
.titleBar{
    font-size: 21px;
}

button{
    background-color:black;
    color: rgb(87, 129, 255);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    font-weight: bold;
}
.titleBar button{
    color: white;
}
.titleBar h3{
    font-size: 27px;
}
.game{
    font-size: 20px;
    display: flex;
    gap: 20px;
}
form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formContent{
    margin: 0 auto;
    text-align: center;
}
.formBlock{
    font-size: 21px;
    margin-top: 10px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.catBtn{
    align-self: flex-start;
}
.itemPage{
    padding-top: 40px;
    margin: 0 auto ;
}
.itemPage h1{
    padding-bottom: 20px;
}